includes:
  # it's provided by the $JAKZAL_IMAGE Docker image
#  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
  - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  level: 6
  paths:
    - ./../src
    - ./../tests
  excludePaths:
    - ./../tests/*/var/*
  ignoreErrors:
    -
      message: '#^Access to an undefined property Doctrine\\Persistence\\Mapping\\ClassMetadata\<object\>\:\:\$name\.$#'
      identifier: property.notFound
      count: 2
      path: ../src/Services/DatabaseTools/AbstractDatabaseTool.php
    -
      message: '#^Instanceof between Doctrine\\DBAL\\Platforms\\AbstractPlatform and Doctrine\\DBAL\\Platforms\\MySQLPlatform will always evaluate to false\.$#'
      identifier: instanceof.alwaysFalse
      count: 1
      path: ../src/Services/DatabaseTools/AbstractDbalDatabaseTool.php
    -
      message: '#^Property Liip\\Acme\\Tests\\AppConfigMongodb\\Document\\User\:\:\$id \(string\|null\) is never assigned string so it can be removed from the property type\.$#'
      identifier: property.unusedType
      count: 1
      path: ../tests/AppConfigMongodb/Document/User.php
    -
      identifier: unset.possiblyHookedProperty
